
<!-- this is for notices upload -->
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  
</head>


<%= form_with(model: notice, local: true) do |form| %>
  <% if notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
        <% notice.errors.full_messages.each do |message| %>
          <li><%= message %></li>

        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Circular_Title %>
    <%= form.text_field :Circular_Title %>
  </div>

  <div class="field">
    <%= form.label :Select_File %>
    <%= form.file_field :Select_File %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
