<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      
  </head>

  <body style="margin: 0;padding: 0;border:0;outline: 0;background: transparent;"  >
 

<div  class="jumbotron" style="background:  #8585e0" >
  <div class="container" >
 <center>
 <span > <font><b> National  Institute  of  Technology    

   <%= image_tag("logo/index.png" , height: '100',width: '100') %>  
<span  ><b> Department Of Mathematics And</span><span > Computational Science</b></font>  </span>
  </span>  <span > 
 <font class="capitalize "> karnataka, kurathkal</b></font>  </span>
</center>
</div>
   
  </div>



<!--  logout tag by rubyy by default  
  <%= link_to "log out",destroy_user_session_path %> -->

<div class="logoutbtn" style="float: right;margin-top: 35px;margin-right: 45px;" >
<% if user_signed_in? %>
   <button class="btn btn-info btn-lg"><a href="/users/sign_out" style="text-decoration: none;">Log Out </a> </button>
<% end %>


<style>


.button {

  float: right;
  background-color: #a6b3f3; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin-right: 15px;
} 





</style>



</div>
<span style="font-family: sans-serif; ">
    <% flash.each do |name, message| %>
      <%= content_tag(:div,message,class: "alert alert-info #{name}") %>
    </span>
    <% end %>
    <%= yield %>
  </body>
</html>
